body {
    min-height: 100vh;
    margin: 0;
    background-color: #add8e6 !important;
}

.darkmode-btn{
    margin-right: 24px;
}

.navbar {
    height: 10vh;
}

.navbar-brand {
    font-size: 48px !important;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500 !important;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.dp-flex {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.dp-flex-row {
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: row !important;
}

.container-fluid{
    max-width: 25%;
}

.ob-fit {
    object-fit: none;
}

.vh5 {
    height: 5vh;
}

.img-question {
    height: 20vh;
    object-fit: cover;
}

button {
    font-size: 15px !important;
    font-weight: 400 !important;
    pad: 4px !important;
}

.progress {
    border-radius: 0px !important;
}

.progress-bar {
    background-color: #3b94ff;
}

.trophy {
    position: absolute;
    right: 0;
}

.trophy-left {
    left: 0;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.bg-body-tertiary{
    background-color: white !important;
}