.dark-mode {
    background-color: #112233b3  !important;
    color: #fff !important;
}

.nav-dark, .logo-dark, .footer-dark {
    background-color: #112233ab  !important;
    color: #fff !important;
}

.card-dark {
    background-color:#405869c7 !important;
    color: #fff !important;
}

.answer-dark{
    background-color: #11223363 !important;
    color: #fff !important;
    --bs-card-border-color: #11223363 !important;
}

.card-footer-dark{
    background-color: #1122334a !important;
    color: #fff !important; 
}